@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    margin: 0;
    background-color: black;
}

main {
    margin: 0px auto;
    width: 570px;
    height: 660px;
}

section {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    color: white; 
    font-family: 'Press Start 2P', cursive;
    font-size: 10px; 
    align-content: flex-end;
}



